<div class="search-container relative" #main>
  <!-- Search Input -->
  <div class="search-input-wrapper">
    <i class="fa fa-search search-icon"></i>
    <input
      #search
      class="search-input"
      type="text"
      [formControl]="searchControl"
      placeholder="Search items..."
      (keydown)="manualTargeting($event)"
      (click)="inputClick(); $event.stopPropagation()"
    />
    <span *ngIf="searchControl.value" class="search-hint">
      Press enter to search
    </span>
  </div>

  <!-- Dropdown Results - Positioned relative to container -->
  <div
    *ngIf="searchedItems.length > 0 && searchOpen"
    class="search-dropdown"
  >
    <div
      class="search-result"
      [class.highlighted]="manualTarget === i + 1"
      *ngFor="let item of searchedItems; let i = index"
      (click)="onClick(item)"
    >
      <div class="result-info">
        <span class="result-name">
          <b>{{ item.name.substring(0, item.match) }}</b>{{ item.name.substring(item.match) }}
        </span>
      </div>
      <img class="result-image" [src]="getImageSource(item)" [alt]="item.name" />
    </div>
  </div>
</div>

<!-- Backdrop to close dropdown -->
<div
  *ngIf="searchOpen"
  class="search-backdrop"
  (click)="close()"
></div>

