<div class="item-details" *ngIf="hasDetails" [ngClass]="{ center: center }">
  <!-- Weapon Details -->
  <ng-container *ngIf="isWeapon(details) && shopItem?.weaponDetails as wd">
    <span class="detail-badge req" *ngIf="wd.requirement">
      <i class="fa fa-shield-alt"></i>
      Req.{{ wd.requirement }}
      <span class="attr" *ngIf="wd.attribute">{{ wd.attribute }}</span>
    </span>
    <span class="detail-badge insc" *ngIf="wd.inscription"> <i class="fa fa-pen-fancy"></i> Insc. </span>
    <span class="detail-badge exotic" *ngIf="wd.oldSchool"> <i class="fa fa-scroll"></i> OS. </span>
    <!-- Exotic Mods -->
    <ng-container *ngIf="shopItem?.weaponDetails?.extraMods?.length">
      <span class="detail-badge exotic" *ngFor="let mod of shopItem.weaponDetails.extraMods" [title]="exoticModDescription(mod)">
        {{ mod }}
      </span>
    </ng-container>
    <!-- Normal Mods -->
    <span class="detail-badge core" [title]="WeaponHelper.upgradeDescriptions[wd.core]" *ngIf="wd.core">
      {{ wd.core }}
    </span>
    <span class="detail-badge mod prefix" [title]="WeaponHelper.upgradeDescriptions[wd.prefix]" *ngIf="wd.prefix">
      {{ wd.prefix }}
    </span>
    <span class="detail-badge mod suffix" [title]="WeaponHelper.upgradeDescriptions[wd.suffix]" *ngIf="wd.suffix">
      {{ wd.suffix }}
    </span>
  </ng-container>

  <!-- Gold count -->
  <span class="detail-badge gold" *ngIf="shopItem?.orderDetails?.goldPrice">
    <i class="fa fa-coins"></i> {{ shopItem?.orderDetails?.goldPrice }}</span
  >

  <!-- Miniature Details -->
  <span
    class="detail-badge mini"
    *ngIf="isMiniature(details)"
    [class.dedicated]="shopItem?.orderDetails?.dedicated"
    [class.undedicated]="!shopItem?.orderDetails?.dedicated"
  >
    <i class="fa" [class.fa-star]="shopItem?.orderDetails?.dedicated" [class.fa-star-half-alt]="!shopItem?.orderDetails?.dedicated"></i>
    {{ shopItem?.orderDetails?.dedicated ? 'Dedicated' : 'Undedicated' }}
  </span>

  <!-- Not Max -->
  <span class="detail-badge not-max" *ngIf="shopItem?.orderDetails?.notMax"> <i class="fa fa-angles-down"></i>Not Max</span>

  <!-- Pre-Searing Flag -->
  <span class="detail-badge os" *ngIf="shopItem?.orderDetails?.pre"> <i class="fa fa-sun"></i> Pre-Searing </span>
</div>
